<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency List</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Currency List</h1>

    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Label</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${currencies}">
            <td th:text="${currency.label}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>